# extends 'track/track_base.html'

# block track_content
<div class="well well-lg">
  <div class="row media" >
  <div class="media-left media-middle">
    <i class="mdi-maps-layers" style="font-size: 60pt;"></i>
  </div>
  <div class="media-body">
    <h3 class="title">{{track_db.name}}</h3>
    <p class="desc"><ul class="list-inline">
        <li><strong>Topics:</strong></li>
        #for topic in track_db.topics
        #set topic = topic.get()
          <li style="color:{{topic.color}}"><a href="{{url_for('topic_view', topic_name=topic.name)}}">{{topic.name}}</a></li>
        #endfor
      </ul></p>
    <a class="btn btn-info" href="{{url_for('track_start',track_key=track_db.key.urlsafe())}}" ><span class="fa fa-fw fa-play"></span> Start</a>

    # for course in track_db.get_courses()
    # set course_key = course
    # set course = course.get()
    <div class="media" style="border-left: 0.25em solid {{course.color}}">
      <div class="media-left media-middle">
        <a href="{{url_for('course', course_key=course.key.urlsafe())}}">
         <i class="mdi-av-play-circle-outline" style="font-size: 50pt;"></i>
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><b>{{course.name}}</b></h5>
        <p class="desc">{{course.description}}</p>
      </div>
    </div>
    # endfor

  </div>
  </div>
</div>
# endblock
