<div class="row">
  <div class="well well-md" style="min-height:24n0px;">
    <div class="media" >

    <div class="media-left media-middle">
      <a  href="{{url_for('track',track_key=track_db.key.urlsafe())}}" ><i class="material-icons" style="font-size: 60pt;">library_books</i></a>
    </div>
    <div class="media-body" >
      <h3 class="title">{{track_db.name}}</h3>
      <p class="desc"><ul class="list-inline">
        <li><strong>Topics:</strong></li>
        #for topic in track_db.topics
        #set topic = topic.get()
          <li style="color:{{topic.color}}"><a href="{{url_for('topic_view', topic_name=topic.name)}}">{{topic.name}}</a></li>
        #endfor
      </ul></p>
      <a class="btn btn-info" href="{{url_for('track_start',track_key=track_db.key.urlsafe())}}" ><i class="material-icons">video_library</i> Start Track</a>
      <button class="btn btn-primary"  data-toggle="collapse" data-target="#collapseCourses-{{track_db.key.urlsafe()}}" aria-expanded="false" aria-controls="collapseCourses-{{track_db.key.urlsafe()}}"><i class="material-icons">view_list</i> View Courses</button>
    </div>

    <div  class="collapse" id="collapseCourses-{{track_db.key.urlsafe()}}">
      # set c_position = 0
      # for course in track_db.get_courses()
      # set course_key = course
      # set course = course.get()
      <div class="media" style="border-left: 0.25em solid {{course.color}}">
        <div class="media-left media-middle">
          <a href="{{url_for('track_course', track_key=track_db.key.urlsafe(), position=c_position)}}">
           <i class="material-icons" style="font-size: 50pt;">play_circle_outline</i>
          </a>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><b>{{course.name}}</b></h5>
          <p class="desc">{{course.description}}</p>
        </div>
      </div>
      # set c_position = c_position + 1
      # endfor
    </div>

  </div>
  </div>
</div>
