# extends 'team/team_base.html'
# block team_content
<div class="well well-lg">
  <div class="row media centered" >
  <div class="media-left media-top">
    <img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=150x150&txt=Team+%0A+{{team_db.number}}&w=150&h=150" alt="{{team_db.name}}">
  </div>
  <div class="media-body">

    <p class="desc"><strong>Motto:</strong> {{team_db.motto}}</p>
    <p class="desc"><strong>Name:</strong> {{team_db.name}}</p>
    <p class="desc"><strong>Website:</strong> {{team_db.website}}</p>

    <a class="btn btn-info" href="#"><i class="material-icons">assignment_turned_in</i> Team Recommendations</a>
    <a class="btn btn-info" href="#"><i class="material-icons">create</i> Team Activities</a>

  </div>

  </div>
</div>


<div class="well well-lg">
  <div class="row media centered" >
  <div class="media-body">

   //recommendations
   //activities tab

  </div>
  </div>
</div>
# endblock
