# extends 'team/team_base.html'
# block team_content
<div class="well well-lg">
  <div class="row media centered" >
  <div class="media-left media-top">
    <img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=150x150&txt=Team+%0A+{{team_db.number}}&w=150&h=150" alt="{{team_db.name}}">
  </div>
  <div class="media-body">

    <p class="desc"><strong>Motto:</strong> {{team_db.motto}}</p>
    <p class="desc"><strong>Name:</strong> {{team_db.name}}</p>
    <p class="desc"><strong>Website:</strong> {{team_db.website}}</p>

    <ul class="nav nav-tabs nav-justified" id="teamTabs">
      <li ><a class="btn btn-info" href="#team-recommendations" data-toggle="tab"><i class="material-icons">assignment_turned_in</i> Team Recommendations</a></li>
      <li ><a class="btn btn-info" href="#team-activities" data-toggle="tab"><i class="material-icons">create</i> Team Activities</a></li>
      <li ><a class="btn btn-info" href="#team-members" data-toggle="tab"><i class="material-icons">people</i> Team Members</a></li>
    </ul>
</div>

  </div>
</div>


<div class="well well-lg">
  <div class="row media centered" >
    <div class="media-body tab-content">
      <div class="tab-pane fade in active" id="team-recommendations">
      # include 'team/team_recommendations.html'
      </div>
      <div class="tab-pane fade" id="team-activities">
      # include 'team/team_activities.html'
      </div>
      <div class="tab-pane fade" id="team-members">
      # include 'team/team_members.html'
      </div>
    </div>
  </div>
</div>

# include 'team/team_scripts.html'
# endblock
