<div class="row media" >
  <div class="media-left media-middle">
    <img src="{{user_db.avatar_url_size(75)}}" alt="Avatar of {{user_db.name}}">
  </div>
  <div class="media-body">
    <h3 class="title">{{user_db.name}}</h3>
	<p class="desc"><ul class="list-inline">
        <li><strong>Teams:</strong></li>
        #for team_key  in user_db.teams
        #set team = team_key.get()
          <li ><a href="{{url_for('team', team_identity=team.team_identity)}}">{{team.number}} ({{team.name}})</a></li>
        #endfor
      </ul></p>
  </div>
</div>
