# extends 'lesson/lesson_base.html'
# block lesson_content
  <div class="col-lg-9">
    <div class="bs-component" id="lesson-player">
    # include 'lesson/lesson_buttons.html'
    <div id="viewport"></div>

    <div class="well well-sm">
    <p class="desc"><strong>Description:</strong> {{lesson_db.description}}</p>
    <p class="desc"><ul class="list-inline">
        <li><strong>Topics:</strong></li>
        #for topic in lesson_db.topics
        #set topic = topic.get()
          <li style="color:{{topic.color}}"><a href="{{url_for('topic_view', topic_name=topic.name)}}">{{topic.name}}</a></li>
        #endfor
      </ul></p>

    <strong>Available Versions:</strong>
    <div class="row row-horizon">
        #for version in lesson_db.lesson_versions
        #set version = version.get()
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7">
          {{version.load_card()|safe }}
          </div>
        #endfor 
    </div>

    <strong>Contributors:</strong>
    <div class="row row-horizon">
     #for contributor in lesson_db.contributors
      #set contributor = contributor.get()
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
         {{contributor.load_card()|safe }}
        </div>
      #endfor
    </div>

    <br/><br/>
    <i>--Developer Details--</i>
    Details:<H2>Name:</H2> {{lesson_db.name}}
    <H2>Current Version:</H2>{{lesson_db.latest_version}}
    <H2>Is a:</H2>{{lesson_db.is_a}}
    <H2>Data:</H2>{{lesson_db.data}}
    </div>

    </div>
      //Discourse Comments for Lesson
  </div>

  <div class="col-lg-3">
    <div class="bs-component well well-lg">
    <div class="row">
      Lesson: {{lesson_db.name}}
      <br/>
      #if lesson_db.quiz
        Take Quiz button 
      #endif
      #if display_type == 'course-lesson'
        #if l_previous or l_previous >= 0
          <a class="btn btn-sm btn-info btn-raised col-lg-12" href="{{url_for('course_lesson', course_key=course_db.key.urlsafe(), position=l_previous)}}">
          <span class="fa fa-fw fa-arrow-circle-left"></span> Previous Lesson
         </a>

        #endif
        #if l_next or l_next >= 0
         <a class="btn btn-sm btn-info btn-raised col-lg-12" href="{{url_for('course_lesson', course_key=course_db.key.urlsafe(), position=l_next)}}">
          <span class="fa fa-fw fa-arrow-circle-right"></span> Next Lesson
         </a>
        #endif
        <a class="btn btn-sm btn-primary col-lg-12" href="{{url_for('course', course_key=course_db.key.urlsafe())}}">
          <span class="fa fa-fw fa-eye"></span> View Course
         </a>
      #endif
    </div>
    </div>
  </div>

# include 'lesson/lesson_view_scripts.html'
# endblock
